.levelDebug {
    -fx-text-fill: rgb(0, 0, 255);
}

.levelInfo {
    -fx-text-fill: rgb(0, 128, 0);
}

.levelWarn {
    -fx-text-fill: rgb(250, 80, 0);
}

.levelError {
    -fx-text-fill: rgb(255, 0, 0);
}

.levelFatal {
    -fx-text-fill: rgb(255, 0, 0);
}

.levelOther {
}
